.background-container {
    background-image: url("../../../../public/homeBackground.jpg");
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    font-family: Montserrat, sans-serif;
    width: 600px;
    max-height: 550px;
    background: #669cff;
    border: 3px solid #000000;
    box-shadow: 12px 12px 0 #000000;
    overflow: hidden;
    transition: all 0.3s ease;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.head {
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 900;
    border: 2px solid #000000;
    width: 96%;
    height: 40px;
    background: #ffffff;
    padding: 8px 12px;
    color: #000000;
    border-bottom: 3px solid #000000;
    text-align: center;
}

.content {
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 500;
    overflow-y: auto;
    scrollbar-width: none;
    flex-grow: 1;
    max-height: calc(100vh - 150px);
}

.tabs {
    display: flex;
    justify-content: center;
    padding: 2px;
    margin-bottom: 2px;
    margin-top: 8px;
}

.tab-button {
    font-family: Montserrat, sans-serif;
    padding: 4px 6px;
    border: 3px solid #000000;
    box-shadow: 3px 3px 0 #000000;
    background: #ffffff;
    cursor: pointer;
    font-weight: bold;
    margin: 0 5px;
}

.tab-button.active {
    background: #89d3ee;
}

.tab-button:hover {
    translate: 1.5px 1.5px;
    box-shadow: 1.5px 1.5px 0 #000000;
}

.tab-button:active {
    translate: 3px 3px;
    box-shadow: 0 0 0 #000000;
}

.expense-form {
    padding: 10px;
    background: #fff;
    border: 3px solid #000;
    box-shadow: 5px 5px 0 #000;
    width: 97%;
    height: auto;
}

.expense-form h3 {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-top: 10px;
}

p {
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    text-align: left;
    margin-bottom: 20px;
}

.expense-form label {
    font-family: Montserrat, sans-serif;
    display: block;
    margin-top: 5px;
    font-size: 18px;
}

.expense-form select {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    padding: 5px;
    border: 3px solid #000;
    background: #ffffff;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-bottom: 10px;
}

.expense-form select option {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 600;
    background: #ffffff;
    padding: 5px;
    cursor: pointer;
}

.expense-form select:hover {
    background: #89d3ee;
}

.expense-form input {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 600;
    width: 97%;
    padding: 5px;
    border: 3px solid #000;
    background: #ffffff;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-bottom: 10px;
}

p {
    padding: 5px 10px;
    margin-top: 10px;
    border: 3px solid #000000;
    box-shadow: 3px 3px 0 #000000;
    font-weight: 750;
    background: #ffffff;
    color: black;
    transition: all 0.3s ease;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: center;
  }
  
  .button {
    padding: 5px 10px;
    margin-top: 10px;
    border: 3px solid #000000;
    box-shadow: 3px 3px 0 #000000;
    font-weight: 750;
    background: #ffffff;
    transition: all 0.3s ease;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: center;
  }

.button:hover {
    translate: 1.5px 1.5px;
    box-shadow: 1.5px 1.5px 0 #000000;
    background: #89d3ee;
}

.button:active {
    translate: 3px 3px;
    box-shadow: 0 0 0 #000000;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.weekly-overview-button {
    margin-top: 15px;
    padding: 10px 12px;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    background: #ffffff;
    border: 3px solid #000;
    box-shadow: 3px 3px 0 #000;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
}

.weekly-overview-button:hover {
    background: #89d3ee;
    translate: 1.5px 1.5px;
    box-shadow: 1.5px 1.5px 0 #000;
}

.weekly-overview-button:active {
    translate: 3px 3px;
    box-shadow: 0 0 0 #000;
}

.category-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.category-popup {
    width: 320px;
    padding: 20px;
    background: #fec7a5;
    border: 3px solid #000;
    box-shadow: 8px 8px 0 #000;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.category-popup h3 {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.category-popup input {
    width: 95%;
    padding: 8px;
    border: 2px solid #000;
}

.cancel-button {
    background: #f15e4b;
    color: black;
}

.cancel-button:hover {
    background: #b53827;
}

.week-summary {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.add-category-button {
    border-radius: 90px;
}

.week-summary li {
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    background: #fff;
    border: 3px solid #000;
    box-shadow: 3px 3px 0 #000;
    margin-bottom: 5px;
}

.unavailable {
    background-color: #ccc;
    color: #666;
    opacity: 0.6;
}

.unavailable:hover {
    background-color: #bbb;
    translate: none;
}

.pie-chart-container {
    position: relative;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border: 3px solid #000;
}

.week-navigation {
    display: flex;
    justify-content: center;  
    align-items: center; 
    gap: 10px;
    background: rgba(255, 255, 255, 0.8);
    padding: 8px 12px;
    border-radius: 10px;
    box-shadow: 3px 3px 0 #000;
    border: 3px solid #000;
    width: 90%;
    margin: 10px auto;
}

.week-nav-button {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    padding: 4px 8px;
    border: 3px solid #000;
    background: #0c3a9a;
    color: white;
    cursor: pointer;
    box-shadow: 3px 3px 0 #000;
    transition: all 0.2s ease-in-out;
    min-width: 30px; 
}

.week-nav-button:hover {
    background: #444;
}

.week-nav-button:disabled {
    background: #aaa;
    cursor: not-allowed;
}

.week-label {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.notification-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 376px) {
    .background-container {
        background-image: none;
        background-color: #fec7a5;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        overflow-y: auto;
    }

    .card {
        max-height: 500px;
    }

    .tab-button {
        font-size: 10px;
        padding: 6px;
    }

    .expense-form label {
        font-size: 14px;
    }

    .expense-list {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        background: white;
        border: 2px solid black;
        margin-top: 10px;
        box-shadow: 3px 3px 0 black;
    }

    .expense-item {
        display: flex;
        flex-direction: column;
        padding: 8px;
        border-bottom: 1px solid black;
    }

    .expense-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 5px;
    }

    .delete-btn,
    .edit-btn {
        padding: 5px 7px;
        font-size: 10px;
        flex: 1;
        font-weight: bold;
        margin: 0 7px;
        margin-right: 5px;
    }

    .expense-amount {
        font-size: 12px;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .expense-name {
        font-size: 14px;
    }

    .expense-category {
        font-size: 10px;
    }

    .tabs {
        margin-bottom: 10px;
    }

    .tab-button {
        padding: 5px 8px;
        border: 2px solid #000000;
        margin: 0 2px;
    }

    .upload-button {
        width: 80%;
    }

}

.weekly-overview-button {
    margin-top: 15px;
    padding: 10px 12px;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    background: #ffffff;
    border: 3px solid #000;
    box-shadow: 3px 3px 0 #000;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
}

.expense-list,
.week-summary,
.category-popup {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.overlay {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 20px;
}

.weekly-overview-button:hover {
    background: #89d3ee;
    translate: 1.5px 1.5px;
    box-shadow: 1.5px 1.5px 0 #000;
}

.weekly-overview-button:active {
    translate: 3px 3px;
    box-shadow: 0 0 0 #000;
}

.category-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.category-popup {
    width: 320px;
    padding: 20px;
    background: #fec7a5;
    border: 3px solid #000;
    box-shadow: 8px 8px 0 #000;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.category-popup h3 {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.category-popup input {
    width: 95%;
    padding: 8px;
    border: 2px solid #000;
}

.cancel-button {
    background: #f15e4b;
    color: black;
}

.cancel-button:hover {
    background: #b53827;
}

.week-summary {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.add-category-button {
    border-radius: 90px;
}

.week-summary li {
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    background: #fff;
    border: 3px solid #000;
    box-shadow: 3px 3px 0 #000;
    margin-bottom: 5px;
}

.button-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.button-bar .button {
    width: 48%;
    text-align: center;
}

.expense-list {
    max-height: 350px;
    overflow-y: auto;
    background: white;
    padding: 10px;
    border: 2px solid black;
    margin-top: 15px;
    box-shadow: 3px 3px 0 black;
}

.expense-item {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid black;
}

.expense-info {
    display: flex;
    flex-direction: column;
}

.expense-name {
    font-weight: bold;
}

.expense-category {
    font-size: 12px;
    color: gray;
}

.delete-btn {
    background: rgb(225, 85, 85);
    padding: 5px 12px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    box-shadow: 3px 3px 0 black;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-right: 8px;
}

.edit-btn {
    padding: 5px 12px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    background-color: #ffc107;
    box-shadow: 3px 3px 0 black;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-right: 8px;
}

.edit-btn:hover {
    background-color: #ffdb58;
}

.edit-btn:active {
    background-color: #e6b800;
}

.clickable-day {
    cursor: pointer;
}

.save-btn {
    padding: 5px 12px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    background-color: #28a745;
    box-shadow: 3px 3px 0 black;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-right: 8px;
}

.save-btn:hover {
    background-color: #34d058;
}

.save-btn:active {
    background-color: #218838;
}

.category-list {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    max-height: 200px;
    overflow-y: auto;
}

.category-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    background: #fff;
    border: 3px solid #000;
    box-shadow: 3px 3px 0 #000;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
}

.category-list span,
.category-list input {
    flex: 1;
    text-align: left;
    padding-right: 10px;
}

.category-buttons {
    display: flex;
    gap: 8px;
}

.upload-button {
    margin-top: 15px;
    padding: 10px 12px;
    width: 95%;
    font-size: 14px;
    font-weight: bold;
    background: #ffffff;
    border: 3px solid #000;
    box-shadow: 3px 3px 0 #000;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
}

.extract-button {
    margin-top: 15px;
    padding: 10px 12px;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    background: #ffffff;
    border: 3px solid #000;
    box-shadow: 3px 3px 0 #000;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
}


@media screen and (max-width: 768px) {
    .background-container {
        background-image: none;
        background-color: #fec7a5;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        overflow-y: auto;
    }

    body {
        overflow-y: auto;
        height: 100vh;
    }

    html,
    body {
        height: 100%;
        overflow-y: auto;
    }

    .card {
        width: 70%;
        max-width: 400px;
        padding: 10px;
        height: auto;
        min-height: auto;
        margin-right: 0;
        box-shadow: 6px 6px 0 #000000;
    }

    .head {
        font-size: 18px;
        padding: 5px;
    }

    .tabs {
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
    }

    .tab-button {
        flex: 1 1 30%;
        min-width: 40px;
        font-size: 10px;
        padding: 6px;
        margin: 2px;
    }

    .expense-form {
        width: 93%;
        height: auto;
        padding: 8px;
    }

    .expense-form.ng-star-inserted {
        display: block;
    }

    .expense-form h3 {
        font-size: 15px;
        margin: 6px 0;
    }

    .expense-form label {
        font-size: 12px;
    }

    .expense-form input,
    .expense-form select {
        font-size: 10px;
        width: 90%;
    }

    .button {
        padding: px;
        font-size: 14px;
    }

    .category-popup {
        width: 70%;
        max-width: 300px;
        padding: 10px;
    }

    .week-summary li {
        font-size: 14px;
        padding: 8px;
    }

    .weekly-overview-button {
        font-size: 14px;
        padding: 8px;
    }

    .button-bar {
        flex-direction: column;
    }

    .button-bar .button {
        width: 100%;
        margin-bottom: 5px;
    }

    .expense-list {
        max-height: 250px;
        overflow-y: auto;
    }

    .expense-item {
        display: block;
    }

    .delete-btn,
    .edit-btn {
        font-size: 8px;
    }

    .upload-button {
        width: 92%;
    }

}