<div class="background-container">
  <div class="overlay">
    <div class="card">
      <div class="head">
        {{
          showWeeklyOverview
            ? "Weekly Overview"
            : showExpenseForm
            ? "Add Expense"
            : "Expense Tracker"
        }}
      </div>

      <div class="content">
        <ng-container
          *ngIf="
            !showWeeklyOverview &&
            !showAnalysisOverview &&
            !showAIExpertiseOverview
          "
        >
          <!-- Tabs for weekdays -->
          <div class="tabs">
            <button
              *ngFor="let day of week"
              class="tab-button"
              [class.active]="selectedDay === day"
              (click)="
                selectedDay = day; loadExpensesForUserOnDate(selectedDay!.date)
              "
              [disabled]="isDateInFutureOrPast(day.date)"
            >
              {{ day.dayName }}
            </button>
          </div>

          <div class="button-bar" *ngIf="!showAnalysisOverview">
            <button class="button" (click)="toggleExpenseForm()">
              {{ showExpenseForm ? "Back" : "Add Expense" }}
            </button>
            <button class="button save-button" (click)="toggleWeeklyOverview()">
              Weekly Overview
            </button>
          </div>

          <div class="upload-receipt">
            <input
              placeholder="Upload Receipt"
              (change)="onFileSelected($event)"
              class="button"
              type="file"
              accept="image/*"
            />
            <button class="button" (click)="processImage()">
              Extract Expenses
            </button>
          </div>

          <!-- Expense Form -->
          <ng-container *ngIf="showExpenseForm">
            <div class="expense-form">
              <h3>Expenses for {{ selectedDay!.dayName }}</h3>

              <label>Expense Name:</label>
              <input
                #expName
                [(ngModel)]="expenseName"
                (change)="
                  isEditing ? validateFormAtUpdate() : validateFormAtSave()
                "
                type="text"
                placeholder="Enter expense name"
              />

              <label>Add or select category </label>
              <div class="category-container">
                <select
                  #expCategory
                  [(ngModel)]="selectedCategory"
                  (change)="
                    isEditing ? validateFormAtUpdate() : validateFormAtSave()
                  "
                  required
                >
                  <option value="" disabled selected>Select Category</option>
                  <option
                    *ngFor="let category of categories"
                    [value]="category"
                  >
                    {{ category }}
                  </option>
                </select>
              </div>

              <label>Amount:</label>
              <input
                #expAmount
                [(ngModel)]="expenseAmount"
                type="number"
                (change)="
                  isEditing ? validateFormAtUpdate() : validateFormAtSave()
                "
                placeholder="Enter an amount"
                (input)="validateAmount($event)"
                (keypress)="onKeyPress($event)"
                step="0.01"
                min="0.01"
              />
            </div>
          </ng-container>

          <!-- Expense List -->
          <ng-container
            *ngIf="
              !showExpenseForm &&
              !showAnalysisOverview &&
              !showAIExpertiseOverview
            "
          >
            <div class="expense-list">
              <h4>Existing Expenses</h4>
              <div class="expense-item" *ngFor="let _expense of expenses2">
                <div class="expense-info">
                  <span class="expense-name">{{ _expense.name }}</span>
                  <span class="expense-category">{{ _expense.category }}</span>
                </div>
                <div class="expense-amount">
                  {{ _expense.amount }} €
                  <button class="edit-btn" (click)="turnOnUpdateMode(_expense)">
                    Edit
                  </button>
                  <button class="delete-btn" (click)="deleteExpense2(_expense)">
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </ng-container>

          <button
            [disabled]="isSaveDisabled"
            class="weekly-overview-button"
            *ngIf="showExpenseForm"
            (click)="isEditing ? updateExpense2() : addExpenseFromForm()"
          >
            {{ isEditing ? "Update" : "Save" }}
          </button>
        </ng-container>

        <ng-container *ngIf="showWeeklyOverview">
          <h2>Total Weekly Expenses: {{ getWeeklyTotal() }}$</h2>
          <ul class="week-summary">
            <li
              *ngFor="let day of weeklySpending"
              (click)="toggleDayExpenses(day)"
              class="clickable-day"
            >
              {{ day.dayName }}: {{ day.total }}€
              <div *ngIf="day.isExpanded" class="expense-list">
                <h4>Expenses for {{ day.dayName }}</h4>
                <div *ngIf="day.expenses && day.expenses.length > 0">
                  <div
                    class="expense-item"
                    *ngFor="let _expense of day.expenses"
                  >
                    <div class="expense-info">
                      <span class="expense-name">{{ _expense.name }}</span>
                      <span class="expense-category">{{
                        _expense.category
                      }}</span>
                    </div>
                    <div class="expense-amount">{{ _expense.amount }} €</div>
                  </div>
                </div>
                <p *ngIf="day.expenses.length === 0">
                  No expenses recorded for {{ day.dayName }}
                </p>
              </div>
            </li>
          </ul>
          <button class="button" (click)="toggleAnalysisOverview()">
            See analysis of your expenses
          </button>
          <button class="button" (click)="toggleWeeklyOverview()">
            Back to Tracker
          </button>
        </ng-container>

        <!-- here goes analysis -->
        <ng-container *ngIf="showAnalysisOverview">
          <h2>Analysis of your expenses</h2>
          <app-pie
            [categoryTotals]="getWeeklyCategoryTotals()"
            [weeklyTotal]="getWeeklyTotal()"
          ></app-pie>
          <button class="button" (click)="toggleAIExpertiseOverview()">
            AI advices based on your expenses
          </button>
          <button class="button" (click)="exportToExcel()">
            Export your expeses to excel
          </button>
          <button class="button" (click)="toggleWeeklyOverview()">
            Back to Weekly Overview
          </button>
        </ng-container>

        <ng-container *ngIf="showAIExpertiseOverview">
          <h2>AI Expertise</h2>
          <p>
            {{ weeklyAnalysis }}
          </p>
          <button class="button" (click)="toggleAIExpertiseOverview()">
            Back to Analysis
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<p>Week:{{ getFormattedWeekRange() }}</p>

            <!-- Previous Week Button -->
            <button (click)="goToPreviousWeek()">← Previous</button>
            <!-- Next Week Button -->
            <button (click)="goToNextWeek()" [disabled]="isCurrentWeek()">
              Next →
            </button>


<app-chatbot></app-chatbot>
