<div class="background-container">
    <div class="overlay">
        <div class="card">
            <div class="head">
                {{ showWeeklyOverview ? 'Weekly Overview' : (showExpenseForm ? 'Add Expense' : 'Expense Tracker') }}
            </div>
            <div class="content">
                <ng-container *ngIf="!showWeeklyOverview">

                    <!-- Tabs for weekdays -->
                    <div class="tabs">
                        <button *ngFor="let day of days" class="tab-button" [class.active]="selectedDay === day"
                            (click)="selectedDay = day; getExpensesByDay(selectedDay);">
                            {{ day }}
                        </button>
                    </div>

                    <div class="button-bar">
                        <button class="button" (click)="toggleExpenseForm()" [disabled]="checkDay()">
                            {{ showExpenseForm ? 'Back' : 'Add Expense' }}
                        </button>
                        <!-- <button class="button save-button" *ngIf="showExpenseForm" (click)="saveExpense(selectedDay)">Save</button> -->
                        <button class="button save-button" *ngIf="showExpenseForm"
                            (click)="isEditing ? updateExpense() : saveExpense(selectedDay)">
                            {{ isEditing ? 'Update' : 'Save' }}
                        </button>


                    </div>

                    <!-- Expense Form -->
                    <ng-container *ngIf="showExpenseForm">
                        <div class="expense-form">
                            <h3>Expenses for {{ selectedDay }}</h3>

                            <label>Expense Name:</label>
                            <input #expName type="text" placeholder="Enter expense name" />

                            <label>Add or select category
                                <!-- <button class="add-category-button"
                                    (click)="toggleCategoryPopup()">+</button> -->
                            </label>
                            <div class="category-container">
                                <select #expCategory>
                                    <option>Select Category</option>
                                    <option *ngFor="let category of categories">{{ category }}</option>
                                </select>

                            </div>

                            <div *ngIf="showCategoryPopup" class="category-popup-overlay">
                                <div class="category-popup">
                                    <h3>Add New Category</h3>
                                    <input type="text" [(ngModel)]="newCategory" placeholder="Enter new category" />
                                    <button class="button" (click)="addCategory()">Add</button>
                                    <button class="button cancel-button" (click)="toggleCategoryPopup()">Cancel</button>
                                </div>
                            </div>

                            <label>Amount:</label>
                            <input #expAmount type="number" placeholder="Enter an amount" />
                        </div>
                    </ng-container>

                    <!-- Expense List -->
                    <ng-container *ngIf="!showExpenseForm">
                        <div class="expense-list">
                            <h4>Existing Expenses</h4>
                            <div class="expense-item" *ngFor="let _expense of dailyExpenses">
                                <div class="expense-info">
                                    <span class="expense-name">{{ _expense.name }}</span>
                                    <span class="expense-category">{{ _expense.category }}</span>
                                </div>
                                <div class="expense-amount">
                                    {{ _expense.amount }} €
                                    <button class="edit-btn" (click)="editExpense(_expense)"
                                        (click)="toggleExpenseForm()">Edit</button>
                                    <button class="delete-btn" (click)="deleteExpense(_expense.id)">Delete</button>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <button class="weekly-overview-button" (click)="toggleWeeklyOverview()">Weekly Overview</button>
                </ng-container>

                <ng-container *ngIf="showWeeklyOverview">
                    <h2>Total Weekly Expenses: {{ getWeeklyTotal() }} </h2>
                    <ul class="week-summary">
                        <li *ngFor="let day of days">
                            {{ day }}: {{ dailyTotals[day] }}
                        </li>
                    </ul>
                    <button class="button" (click)="toggleWeeklyOverview()">Back to Tracker</button>
                </ng-container>
            </div>
        </div>
    </div>
</div>