<div class="background-container">
  <div class="auth-container">
    <form class="form" (ngSubmit)="onSubmit()">
      <h2 id="heading">{{ isRegistering ? "Register" : "Login" }}</h2>
      <input
        class="input"
        [(ngModel)]="email"
        name="email"
        placeholder="Email"
        type="email"
      />
      <input
        class="input"
        [(ngModel)]="password"
        name="password"
        placeholder="Password"
        type="password"
      />
      <div class="button-container">
        <button class="button-confirm" type="submit">
          {{ isRegistering ? "Sign Up" : "Login" }}
        </button>

        <button class="button-confirm" (click)="toggleMode()" type="button">
          Switch to {{ isRegistering ? "Login" : "Sign Up" }}
        </button>
      </div>
      <p>
        <a class="reset" (click)="resetPassword()">"Forgot password?"</a>
      </p>
    </form>
  </div>
</div>
