
<div class="intro-section">
  <div class="image-container">
    <button class="about-button" (click)="scrollToIntro()">ABOUT US</button>
  </div>
  <div class="intro-text" id="intro">
    
    <p>Welcome to the Expense Tracker App, your go-to tool for managing daily expenses efficiently. Our app is designed to help you take control of your finances by providing easy-to-use features for tracking, categorizing, and analyzing your spending habits. Whether you're budgeting for the month, keeping track of recurring expenses, or just trying to save more, this app is here to guide you. </p>

  </div>
  
</div>


  <div class="card-wrapper">
    <div class="card">
      <div class="head">Expense Tracker App</div>
      <div class="features">
        <h3>With our app, you can:</h3>
        <ul>
          <li>
            <img src="icons/money-bag.png" class="icon"> Track daily expenses
          </li>
          <li>
            <img src="icons/bill.png" class="icon"> Scan receipts to extract expense details
          </li>
          <li>
            <img src="icons/line-chart.png" class="icon"> View a weekly spending chart
          </li>
          <li>
            <img src="icons/pencil.png" class="icon"> Add or delete transactions easily
          </li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="head">Who We Are</div>
      <div class="team-section">
        <p>We are a <span class="highlight">team of 6 dedicated individuals</span> who have worked collaboratively,
          sharing tasks efficiently to bring this project to life.</p>
      </div>
    </div>
    <div class="card">
      <div class="head">Our Mission</div>
      <div class="mission">
        <p>To simplify personal finance management through an <strong class="highlight">intuitive and user-friendly</strong> experience.</p>
      </div>
    </div>
  </div>

